<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="SWTBot Example Target Platform Photon" sequenceNumber="1510742714">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/photon/201711031000"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.ide.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/technology/swtbot/releases/latest"/>
    </location>
  </locations>
</target>
